<div class="form-element-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list">
                    <div class="basic-tb-hd">
                        <h2>Edit User</h2>
                        <!--                        <p>Text Inputs with different sizes by height and column.</p>-->
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-example-wrap">
                                <div class="form-example-int form-horizental mg-t-15">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                                <label class="hrzn-fm">Code</label>
                                            </div>
                                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control input-sm" value="{{.User.CodeUser}}" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-example-int form-horizental mg-t-15">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                                <label class="hrzn-fm">Email</label>
                                            </div>
                                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control input-sm" value="{{.User.Email}}" readonly>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-example-int form-horizental">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                                <label class="hrzn-fm">Type User</label>
                                            </div>
                                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                                <div class="nk-int-st">
                                                    <div class="bootstrap-select">
                                                        <select class="selectpicker" name="type_user_id" id="ip-type-user">
                                                            {{ range $row := .TypeUsers }}
                                                            <option value="{{$row.TypeUserID}}" {{if IsSelected
                                                                    $row.TypeUserID $.User.TypeUserID}}selected{{end}}>{{$row.Name}}</option>
                                                            {{end}}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-example-int form-horizental">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                                <label class="hrzn-fm">Role</label>
                                            </div>
                                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                                <div class="nk-int-st">
                                                    <div class="bootstrap-select">
                                                        <select class="selectpicker" name="role_id" id="ip-role">
                                                            {{ range $row := .Roles }}
                                                            <option value="{{$row.RoleID}}" {{if IsSelected
                                                                    $row.RoleID $.User.RoleID}}selected{{end}}>{{$row.Name}}</option>
                                                            {{end}}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-example-int form-horizental mg-t-15">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                                <label class="hrzn-fm" id="lb-first-name">First Name</label>
                                            </div>
                                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control input-sm ip-u" id="ip-first-name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-example-int form-horizental mg-t-15">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                                <label class="hrzn-fm" id="lb-last-name">Last Name</label>
                                            </div>
                                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control input-sm ip-u" id="ip-last-name">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-example-int form-horizental mg-t-15">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                                <label class="hrzn-fm">Phone Number</label>
                                            </div>
                                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control input-sm ip-u" value="{{.User.PhoneNumber}}" placeholder="Enter your phone number" id="ip-phone-number">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-example-int form-horizental mg-t-15">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                                <label class="hrzn-fm">Address</label>
                                            </div>
                                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control input-sm ip-u" value="{{.User.Address}}" placeholder="Enter your address" id="ip-address">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-example-int form-horizental mg-t-15" id="form-referral-code">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                                <label class="hrzn-fm">Referral Code</label>
                                            </div>
                                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                                <div class="nk-int-st">
                                                    <input type="text" class="form-control input-sm ip-u" value="{{.User.ReferralCode}}" placeholder="Enter your referral code" id="ip-referral-code">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-example-int mg-t-15">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                        </div>
                                        <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                            <button class="btn btn-success notika-btn-success waves-effect" id="btn-submit">Update</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function (){
        // $("#form-referral-code").hide();
        var typeUserId = {{.User.TypeUserID}};
        var UserID = {{.User.UserID}};
        if (typeUserId !== 5){
            $("#form-referral-code").hide();
        }else{
            $("#form-referral-code").show();
        }

        if (typeUserId === 3) {
            $("#lb-first-name").text("Name of Business");
            $("#lb-last-name").text("Full name of the representative");
            $("#ip-first-name").attr("placeholder", "Enter name of Business");
            $("#ip-last-name").attr("placeholder", "Enter full name of the representative");
            $("#ip-phone-number").attr("placeholder", "Enter business phone number");
            $("#ip-address").attr("placeholder", "Enter business address");

            $("#ip-first-name").val("{{.User.NameBusiness}}");
            $("#ip-last-name").val("{{.User.FullNameRepresentative}}");
        } else {
            $("#lb-first-name").text("First Name");
            $("#lb-last-name").text("Last Name");
            $("#ip-first-name").attr("placeholder", "Enter your first name");
            $("#ip-last-name").attr("placeholder", "Enter your last name");
            $("#ip-phone-number").attr("placeholder", "Enter your phone number");
            $("#ip-address").attr("placeholder", "Enter your address");

            $("#ip-first-name").val("{{.User.FirstName}}");
            $("#ip-last-name").val("{{.User.LastName}}");
        }

        $('#ip-type-user').change(function () {
            var idTypeUser = parseInt($(this).val(), 10);
            if (idTypeUser === 3) {
                $("#lb-first-name").text("Name of Business");
                $("#lb-last-name").text("Full name of the representative");
                $("#ip-first-name").attr("placeholder", "Enter name of Business");
                $("#ip-last-name").attr("placeholder", "Enter full name of the representative");
                $("#ip-phone-number").attr("placeholder", "Enter business phone number");
                $("#ip-address").attr("placeholder", "Enter business address");
            } else {
                $("#lb-first-name").text("First Name");
                $("#lb-last-name").text("Last Name");
                $("#ip-first-name").attr("placeholder", "Enter your first name");
                $("#ip-last-name").attr("placeholder", "Enter your last name");
                $("#ip-phone-number").attr("placeholder", "Enter your phone number");
                $("#ip-address").attr("placeholder", "Enter your address");
            }

            if (idTypeUser === 1 || idTypeUser === 2 || idTypeUser === 3){
                $("#form-referral-code").hide();
            }else{
                $("#form-referral-code").show();
            }
        });

        $('#btn-submit').click(function() {
            var type_user_id= parseInt($("#ip-type-user").val(), 10);
            var role_id= parseInt($("#ip-role").val(), 10);
            var first_name =  $("#ip-first-name").val();
            var last_name= $("#ip-last-name").val();
            var name_business =  $("#ip-first-name").val();
            var full_name_representative= $("#ip-last-name").val();
            var phone_number= $("#ip-phone-number").val();
            var address= $("#ip-address").val();
            var referral_code= $("#ip-referral-code").val();

            if (type_user_id !== 5){
                referral_code = "";
            }
            if(type_user_id === 3){
                first_name = "";
                last_name = "";
            }else{
                full_name_representative = "";
                name_business = "";
            }

            var jsonData = {
                type_user_id: type_user_id,
                role_id: role_id,
                first_name: first_name,
                last_name: last_name,
                full_name_representative: full_name_representative,
                name_business:name_business,
                email: "",
                phone_number: phone_number,
                address: address,
                password: "",
                referral_code: referral_code,
            };

            $.ajax({
                url: '/accounts/users/' + UserID,
                method: 'PUT',
                contentType: "application/json",
                data: JSON.stringify(jsonData),

                success: function (response) {
                    if(response === "Success"){
                        swal({
                            title: 'Successfully !',
                            text: 'Update account successfully',
                            icon: 'success',
                            button: {
                                text: "Close",
                                value: true,
                                visible: true,
                                className: "btn btn-primary"
                            }
                        })

                    }else{
                        swal({
                            title: 'Error !',
                            text: response,
                            icon: 'warning',
                            button: {
                                text: "Close",
                                value: true,
                                visible: true,
                                className: "btn btn-danger"
                            }
                        })
                    }

                },
                error: function () {
                    console.log('Error occurred while retrieving options');
                }
            });
        });
    })
</script>