<div class="header-top-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
            </div>
            <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12 pd-menu">
                <div class="header-top-menu">
                    <ul class="nav navbar-nav notika-top-nav">
                        {{if IsVerify .Ctx}}
                        <li class="nav-item">
                            <a class="nav-link" style="font-size: 15px !important;" title="Account has been verified"><span><i class="fas fa-user-check"></i></span></a>
                        </li>
                        {{else}}
                        <li class="nav-item">
                            <a href="/home/information" class="nav-link t-verify"><span><i class="fas fa-user-times"></i></span> Account has not been verified</a>
                        </li>
                        {{end}}
                        {{if IsStudentCtx .Ctx}}
                        <li class="nav-item dropdown">
                            <a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="far fa-file-alt"></i></span></a>
                            <div role="menu" class="dropdown-menu message-dd animated zoomIn">
                                <div class="hd-mg-tt">
                                    <h2>Assignments</h2>
                                </div>
                                <div class="hd-message-info" id="data-assignment">
                                </div>
                            </div>
                        </li>
                        <li class="nav-item nc-al"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="far fa-calendar-alt"></i></span><div class="spinner4 spinner-4"></div><div class="ntd-ctn"><span id="assignment">0</span></div></a>
                            <div role="menu" class="dropdown-menu message-dd notification-dd animated zoomIn">
                                <div class="hd-mg-tt">
                                    <h2>Study Schedule</h2>
                                </div>
                                <div class="hd-message-info" id="data-lesson">
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle ft-a">{{GetCodeUser .Ctx}} <span class="ver-bottom-icon"><i class="fas fa-sort-down"></i></span></a>
                            <div class="spinner4 spinner-4"></div><div class="ntd-ctn"><span id="lesson">0</span></div>
                            <div role="menu" class="dropdown-menu message-dd animated zoomIn" style="width: 230px;">
                                <div class="hd-message-info">
                                    <a href="/home/information">
                                        <div class="hd-message-sn">
                                            <div class="hd-message-icon">
                                                <i class="fas fa-user-edit"></i>
                                            </div>
                                            <div class="hd-mg-ctn">
                                                <h3 class="h-lh">Account Information</h3>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/home/changePassword">
                                        <div class="hd-message-sn">
                                            <div class="hd-message-icon">
                                                <i class="fas fa-key"></i>
                                            </div>
                                            <div class="hd-mg-ctn">
                                                <h3 class="h-lh">Change password</h3>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/logout">
                                        <div class="hd-message-sn">
                                            <div class="hd-message-icon">
                                                <i class="fas fa-sign-out-alt"></i>
                                            </div>
                                            <div class="hd-mg-ctn">
                                                <h3 class="h-lh">Logout</h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        {{else if IsInstructorCtx .Ctx}}

                        <li class="nav-item nc-al"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle"><span><i class="far fa-calendar-alt"></i></span></a>
                            <div role="menu" class="dropdown-menu message-dd notification-dd animated zoomIn">
                                <div class="hd-mg-tt">
                                    <h2>Study Schedule</h2>
                                </div>
                                <div class="hd-message-info" id="data-lesson">
                                </div>
                            </div>
                        </li>
                        <li class="nav-item dropdown">
                            <a data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle ft-a">{{GetCodeUser .Ctx}} <span class="ver-bottom-icon"><i class="fas fa-sort-down"></i></span></a>
                            <div class="spinner4 spinner-4"></div><div class="ntd-ctn"><span id="lesson">0</span></div>
                            <div role="menu" class="dropdown-menu message-dd animated zoomIn" style="width: 230px;">
                                <div class="hd-message-info">
                                    <a href="/home/information">
                                        <div class="hd-message-sn">
                                            <div class="hd-message-icon">
                                                <i class="fas fa-user-edit"></i>
                                            </div>
                                            <div class="hd-mg-ctn">
                                                <h3 class="h-lh">Account Information</h3>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/home/changePassword">
                                        <div class="hd-message-sn">
                                            <div class="hd-message-icon">
                                                <i class="fas fa-key"></i>
                                            </div>
                                            <div class="hd-mg-ctn">
                                                <h3 class="h-lh">Change password</h3>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/logout">
                                        <div class="hd-message-sn">
                                            <div class="hd-message-icon">
                                                <i class="fas fa-sign-out-alt"></i>
                                            </div>
                                            <div class="hd-mg-ctn">
                                                <h3 class="h-lh">Logout</h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        {{else}}
                        <li class="nav-item dropdown">
                            <a data-toggle="dropdown" role="button" aria-expanded="false" class="nav-link dropdown-toggle ft-a">{{GetCodeUser .Ctx}} <span class="ver-bottom-icon"><i class="fas fa-sort-down"></i></span></a>
                            <div role="menu" class="dropdown-menu message-dd animated zoomIn" style="width: 230px;">
                                <div class="hd-message-info">
                                    <a href="/home/information">
                                        <div class="hd-message-sn">
                                            <div class="hd-message-icon">
                                                <i class="fas fa-user-edit"></i>
                                            </div>
                                            <div class="hd-mg-ctn">
                                                <h3 class="h-lh">Account Information</h3>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/home/changePassword">
                                        <div class="hd-message-sn">
                                            <div class="hd-message-icon">
                                                <i class="fas fa-key"></i>
                                            </div>
                                            <div class="hd-mg-ctn">
                                                <h3 class="h-lh">Change password</h3>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/logout">
                                        <div class="hd-message-sn">
                                            <div class="hd-message-icon">
                                                <i class="fas fa-sign-out-alt"></i>
                                            </div>
                                            <div class="hd-mg-ctn">
                                                <h3 class="h-lh">Logout</h3>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        {{end}}

                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="main-menu-area mg-tb-40">
    <div class="container">
        <div class="row">
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2">
                <div class="logo-area">
                    <img src="/assets/images/Useful_Knowledge.png">
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                    {{if CheckPermission "home" .Ctx}}
                    <li><a id="Home" class="tag-a" href="/home"><i class="fas fa-home"></i> Home</a>
                    </li>
                    {{end}}
                    {{if CheckPermission "dashboardss" .Ctx}}
                    <li><a id="Dashboard" class="tag-a" href="/dashboard"><i class="fas fa-chart-line"></i> Dashboard</a>
                    </li>
                    {{end}}
                    {{if CheckPermission "courses" .Ctx}}
                    <li><a id="Courses" class="tag-a" href="/courses"><i class="fas fa-certificate"></i> My Courses</a>
                    </li>
                    {{end}}
                    {{if CheckPermission "management_info" .Ctx}}
                    <li>
                        <a data-toggle="dropdown" id="Managements" class="tag-a"><i class="fas fa-th-list"></i> Managements</a>
                        <ul class="dropdown-menu">
                            {{if CheckPermission "mng_instructors" .Ctx}}
                            <li><a class="dropdown-item" href="/managements/instructors"> Instructors</a></li>
                            {{end}}
                            {{if CheckPermission "mng_students" .Ctx}}
                            <li><a class="dropdown-item" href="/managements/students"> Students </a></li>
                            {{end}}
                            {{if CheckPermission "mng_sale_business" .Ctx}}
                            <li><a class="dropdown-item" href="/managements/sale-business"> Sale Director </a></li>
                            {{end}}
                            {{if CheckPermission "mng_study_program" .Ctx}}
                            <li><a class="dropdown-item" href="/managements/mng-study-programs"> Study program </a></li>
                            {{end}}
                            {{if CheckPermission "mng_courses" .Ctx}}
                            <li><a class="dropdown-item" href="/managements/mng-courses"> Courses </a></li>
                            {{end}}
                            <!-- {{if CheckPermission "mng_classes" .Ctx}}
                            <li><a class="dropdown-item" href="/managements/mng-classes"> Classes </a></li>
                            {{end}} -->
                            {{if CheckPermission "mng_payments" .Ctx}}
                            <li><a class="dropdown-item" href="/managements/mng-payments"> Payments </a></li>
                            {{end}}
        
                        </ul>
                    </li>
                    {{end}}
                    {{if CheckPermission "management_account" .Ctx}}
                    <li>
                        <a data-toggle="dropdown" id="Accounts" class="tag-a"><i class="fas fa-user-shield"></i> Accounts</a>
                        <ul class="dropdown-menu">
                            {{if CheckPermission "account_users" .Ctx}}
                            <li><a class="dropdown-item" href="/accounts/users"> Users</a></li>
                            {{end}}
                            {{if CheckPermission "account_roles" .Ctx}}
                            <li><a class="dropdown-item" href="/accounts/roles"> Roles </a></li>
                            {{end}}
                        </ul>
                    </li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
</div>
{{if IsStudentCtx .Ctx}}
<script>
    function fetchDataAssignment() {
        fetch('/notify')
            .then(response => response.json())
            .then(data => countNotify(data))
            .catch(error => console.error('Error fetching data:', error));

    }
    function countNotify(data) {

        document.getElementById("assignment").innerHTML = data.AssignmentN;
        document.getElementById("lesson").innerHTML = data.LessonN;
        document.getElementById('data-lesson').innerHTML = '';
        document.getElementById('data-assignment').innerHTML = '';

        if(data.Lessons && data.Lessons.length > 0){
            data.Lessons.forEach(item => {
                var htmlCode = '<a href="/courses/lesson/'+item.lesson_id+'"'+'><div class="hd-message-sn"><div class="hd-mg-ctn"><h3>' + item.name +" - "+item.Course.name+ '</h3></div></div></a>';
                document.getElementById('data-lesson').innerHTML += htmlCode;
            });
        }
        if(data.Assignments && data.Assignments.length > 0) {
            data.Assignments.forEach(item => {
                var htmlCode = '<a href="/courses/assignment/' + item.assignment_id + '"' + '><div class="hd-message-sn"><div class="hd-mg-ctn"><h3>' + item.Assignment.name + " - " + item.Assignment.Course.name + '</h3></div></div></a>';
                document.getElementById('data-assignment').innerHTML += htmlCode;
            });
        }
    }

    // document.addEventListener('DOMContentLoaded', countNotifyFirst);

    setInterval(fetchDataAssignment, 1000);


</script>
{{else if IsInstructorCtx .Ctx}}
<script>
    function fetchDataAssignment() {
        fetch('/notify')
            .then(response => response.json())
            .then(data => countNotify(data))
            .catch(error => console.error('Error fetching data:', error));

    }

    function countNotify(data) {

        document.getElementById("lesson").innerHTML = data.LessonN;
        document.getElementById('data-lesson').innerHTML = '';

        if(data.Lessons && data.Lessons.length > 0){
            data.Lessons.forEach(item => {
                var htmlCode = '<a href="/courses/lesson/'+item.lesson_id+'"'+'><div class="hd-message-sn"><div class="hd-mg-ctn"><h3>' + item.name +" - "+item.Course.name+ '</h3></div></div></a>';
                document.getElementById('data-lesson').innerHTML += htmlCode;
            });
        }

    }

    setInterval(fetchDataAssignment, 1000);


</script>
{{end}}