/* select2 */
.select2-results__option[aria-selected] {
    cursor: pointer;
    color: var(--dark);
}
.select2-container--default .select2-selection--single,
.select2-container--default .select2-selection--multiple,
.select2-container--default.select2-container--focus .select2-selection--multiple {
    background-color: #fff;
    border: 1px solid #eaeaea;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}
.select2-container--default.select2-container--open .select2-selection--single,
.select2-container--default.select2-container--open .select2-selection--multiple,
.select2-container--default.select2-container--open .select2-selection--multiple{
    background-color: #fff;
    border: 1px solid #b4a7ef;
    border-radius: 4px;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.select2-container .select2-selection--single {
    height: 35px;
}
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 30px;
}
.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px;
}
.select2-container--default .select2-selection--multiple .select2-selection__choice {
    background-color: #fff;
}

/* trick for readonly */
select[readonly].type-select + .select2-container {
    pointer-events: none;
    touch-action: none;
  
    
}
select[readonly].type-select + .select2-container .select2-selection {
    background: #eee;
    box-shadow: none;
}

/* select[readonly].type-select + .select2-container .select2-selection__arrow, */
select[readonly].type-select + .select2-container .select2-selection__clear {
    display: none;
}
/* end trick for readonly */
/* end select2 */

/* clock picker */
.popover {
    border-radius: 0;
    border: 2px solid #333333;
    max-width: 250px;
}

.clockpicker-button {
    color: var(--dark);
    font-weight: bold;
}
.clockpicker-button:hover{
    color: var(--green);
    font-weight: bold;
}

/* end clock picker */
/* context menu */
.context-menu-item {
    font-size: medium;
}

.context-menu-item.context-menu-hover {
    background-color: var(--primary);
}

.context-menu-icon.context-menu-icon--fa::before {
    color: var(--primary);
}


/* end context menu */
/* app */
.app{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.app-content{
    width: 500px;
    flex: 1;

}

.app-right-sidebar{
    flex: 0 1 350px;
    display:none;
}

.app-element + .app-element {
    margin-left: 15px;
}

@media only screen and (max-width: 1199px) {
    .app{
        display: block;
    }
    .app-content{
        width:unset;
    }
    .app-element + .app-element {
        margin-left: unset;
    }

}
  
.app-right-sidebar.show{
    display:block;
}


.nav-header .logo-abbr {
    max-width: 200px;
    max-height: 50px;
}
 .nav-header .logo-compact {
    max-height: 50px;
 }
[data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .nav-header .logo-abbr {
    display: none;
}

[data-sidebar-style="full"][data-layout="vertical"] .menu-toggle .nav-header .logo-compact {
    display: block;
}

.card {
    padding-bottom: .75rem;
}

.card-body, .table, .modal {
    color: var(--dark);
}

.card-body{
    /* min-height: 500px; */
    min-height: 100px;
}

.card-body.card-filter{
    min-height: 100px;
}

.card-header-title{
    display: flex;
    justify-content: start;
    justify-items: center;
    height: 42px;
}

.card-header-title .card-btn{
    margin-right: 10px;
}

.card-title{
    align-self: center;
    margin-bottom: 0px;
}

.card-header .fa {
    transition: .3s transform ease-in-out;
}

.card-header .collapsed .fa {
    transform: rotate(90deg);
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
    color: var(--primary);
    background-color: unset;
    border-bottom: 2px solid var(--primary);
}

.tree{
    overflow: hidden;
}

.table-panel{
    max-height: 300px;
}

.table-atd tbody tr{
    background-color: #fff;
}
.table-atd tbody tr:hover, .table-atd tbody tr:hover td, .table-atd tbody tr:hover th {

    background-color: #eee;
    /* cursor: pointer; */
}

.table-atd th.column-fix, .table-atd td.column-fix {
    position: sticky;
    left: 0;
    /* border-right: 1px solid #eee; */
    background-color: #fff;
}



/* .table-atd tbody .column-fix:hover {
    color: var(--dark);
    background-color: #eee;
} */

.table-atd th.content100, .table td.content100 {
    min-width: 100px;
}
.table-atd th.content200, .table td.content200 {
    min-width: 200px;
}
.table-atd th.content300, .table td.content300 {
    min-width: 300px;
}

.table-atd th{
    padding: 0.75rem;
    vertical-align: middle;
    border-top: 1px solid #EEEEEE;
}

.row-detail-title{
    color: var(--dark);
}

.row-detail-from{
    color: var(--red);
    text-decoration: line-through;
}

.row-detail-to{
    color: var(--green);
}

.table-atd-loading, .modal-atd-loading, .right-sidebar-atd-loading{
    width: 100%;
    height: 100%;
    background-color: #fff; 
    position: absolute;
    opacity: .3;
    display: none;
    top: 0px;
}
.table-atd-loading.show, .modal-atd-loading.show, .right-sidebar-atd-loading.show{
    display: flex;
}

.right-sidebar-atd-loading{
    z-index: 1;
}


.table-content{
    position: relative;
}

.btn-app-group{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.widget-timeline{
    height: unset;
}

.progress-panel{
    padding: 0 10%;
}

.chart{
    height: 300px;
}

.btn-app-group a i {
    display: block;
    padding: 9.5px 20px;
    border-radius: .5px;
    border: 1px solid #eaeaea;
    color: #828690;
}
.btn-app-group a i:hover {
    color: var(--primary);
    border: 1px solid #b4a7ef;
}
.btn-app-group a i.active{
    color: var(--primary);
    border: 1px solid #b4a7ef;
}

.btn-app-group{
    display:flex;
    
}
.btn-app + .btn-app{
    margin-left: 10px;
}

.btn-search{
    position: relative;
}
.btn-search .text-search{
    padding: 0.375rem 0.75rem 0.375rem 1.75rem;
    width: 250px;
}
.btn-search .icon-search{
    position: absolute;
    top: 10px;
    left: 10px;
}

.btn-search .icon-search:hover, .btn-search .icon-cancel:hover{
    cursor: pointer;
    color: var(--primary);
}

.btn-search .icon-cancel{
    position: absolute;
    top: 10px;
    right: 10px;
}

.btn-more{
    position: relative;
    z-index: 1;
}
.btn-more-pulse {
    width: 1rem;
    height: 1rem;
    border-radius: 0.5rem;
    border-radius: 3.5rem;
    height: 0.4rem;
    position: absolute;
    background: var(--primary);
    right: 5px;
    top: 0.3rem;
    width: 0.4rem;
    display: none;
}
.btn-more-pulse.show{
    display: block;
}

.btn-more-panel{
    position: absolute;
    top: 40px;
    right: 0px;
    width: 416px;
    min-height: 100px;
    border: 1px solid #eee;
    border-radius: 5px;
    background-color: #fff;
    z-index: inherit;
    display: none;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.btn-more-panel.show{
    display: block;
}
.btn-more-panel .more-header{
    padding: 10px;
    border-bottom: 1px solid #eee;
}
.btn-more-panel .more-body{
    margin-top: 10px;
    padding: 10px;
    min-height: 50px;
    border-bottom: 1px solid #eee;
}
.btn-more-panel .more-footer{
    padding: 10px;
}
/* .btn-search .btn-more{
    position: absolute;
    top: 10px;
    right: 10px;
} */

.nav-link{
    margin: 10px;
    padding: 0 0 10px 0;
}

.pagination{
    margin: 10px 0px;
}
.top-settings{
    margin: 10px 0px;
}
.top-info{
    margin: 10px 0px;
}

.a-user{
    color: var(--blue);
}

.a-user:hover{
    color: var(--primary);
}

.td-danger{
    background-color: #fee;
}

.td-success{
    background-color: #efe;
}

.modal-detail-body{
    padding: 0;
    min-height: 200px;
    position: relative;
}

.modal-detail-body-content .card{
    margin-bottom: 0;
}

.split-right{
    border-right: 1px dashed #eee;
}

.action-header{
    height: 40px;
}
.action-title{
    margin-top: 8px;
}

.modal-xxl {
    max-width: calc(100% - 3.5rem);
}

@media (min-width: 992px){
    .modal-xxl {
        max-width: calc(100% - 3.5rem);
    }
}

/* .form-group {
    margin-bottom: 0.5rem;
} */

.form-control:disabled, .form-control[readonly] {
    background: #fafafa;
    opacity: 1;
}

.d-border-left{
    border-left: 2px dashed var(--primary) !important;
}
.d-border-right{
    border-right: 2px dashed var(--primary) !important;
}
.d-border-top{
    border-top: 2px solid var(--dark) !important;
}
.d-border-bottom{
    border-bottom: 2px solid var(--dark) !important;
}
.d-no-content{
    background-color: #fafafa;
}
.text-criteria1-row{
    min-width: 135px;
    width: 135px;
}
.text-criteria2-row{
    min-width: 135px;
    width: 135px;
}
.text-criteria3-row{
    min-width: 270px;
    width: 270px;
}
.text-comment-row{
    width: 250px;
    max-width: 250px;
}
.text-point{
    max-width: 80px;
    width: 80px;
}
.text-green{
    color: green;
}
.text-red{
    color: red;
}
.quixnav .metismenu > li a > i {
    font-weight: normal;
}
.round-img{
    border-radius: 50%;
}
.list-model-img:hover, .list-modelset-img:hover{
    cursor: pointer;
}
/* end app */