<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">

<head>
    <meta charset="UTF-8">
    <!--<title> Login and Registration Form in HTML & CSS | CodingLab </title>-->
    <title>Useful Knowledge</title>
    <link rel="shortcut icon" href="/assets/images/Useful_Knowledge.png">
    <link rel="stylesheet" href="/assets/css/style-login.css">

    <!-- Fontawesome CDN Link -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <link rel="stylesheet" href="/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
    <div class="container">
        <input type="checkbox" id="flip">
        <div class="cover">
            <div class="front">
                <img src="/assets/images/frontImg.jpg" alt="">
                <div class="text">
                    <span class="text-1">Welcome to <br> Useful Knowledge</span>
                    <span class="text-2">Let's get connected</span>
                </div>
            </div>
        </div>
        <div class="forms">
            <div class="form-content">
                <div class="login-form" style="padding: 20px;text-align: center;">
                    <img src="/assets/images/Useful_Knowledge.png" alt="" style="width: 60%;">
                    <div class="title" style="text-align: left;">Login</div>

                    <div class="input-boxes">
                        <div class="input-box">
                            <i class="fas fa-user"></i>
                            <input type="text" name="email" id="ip-email" placeholder="Enter your email"
                                required>
                        </div>
                        <div class="input-box">
                            <i class="fas fa-lock"></i>
                            <input type="password" name="password" id="ip-password" placeholder="Enter your password"
                                required>
                        </div>
                        <div class="button input-box">
                            <a href="#" id="forgotPassword">Forgot Password</a>
                        </div>
                        <div class="button input-box" id="login_btn">
                            <input href="" type="submit" value="Submit">
                        </div>
                        <div class="text sign-up-text">Don't have an account? <label for="flip">Register now</label>
                        </div>
                    </div>

                </div>
                <div class="signup-form">
                    <div class="title">Register</div>
                    <div class="widget-tabs-int tab-ctm-wp">
                        <div class="widget-tabs-list">
                            <ul class="nav nav-tabs tab-nav-right">
                                <li class="active"><a data-toggle="tab" href="#student-su">Student</a></li>
                                <li><a data-toggle="tab" href="#instructor-su">Instructor</a></li>
                                <li><a data-toggle="tab" href="#sale-su">Sale agent</a></li>
                                <li><a data-toggle="tab" href="#business-su">Business</a></li>
                            </ul>
                            <div class="tab-content tab-custom-st tab-ctn-right">
                                <div id="student-su" class="tab-pane fade in active">
                                    <div class="tab-ctn">
                                        <div class="input-boxes">
                                            <div class="input-box">
                                                <i class="fas fa-id-badge"></i>
                                                <input type="text" id="first-name-stu" class="input-stu"
                                                    placeholder="Enter your first name" required>
                                            </div>
                                            <div class="input-box">
                                                <i class="fas fa-id-badge"></i>
                                                <input type="text" id="last-name-stu" class="input-stu"
                                                    placeholder="Enter your last name" required>
                                            </div>
                                            <div class="input-box">
                                                <i class="fas fa-envelope"></i>
                                                <input type="email" id="email-stu" class="input-stu"
                                                    placeholder="Enter your email" required>
                                            </div>
                                            <div class="input-box">
                                                <i class="fas fa-phone-alt"></i>
                                                <input type="text" id="phone-number-stu" class="input-stu"
                                                    placeholder="Enter your phone number" required>
                                            </div>
                                            <div class="input-box">
                                                <i class="fas fa-map-marker-alt"></i>
                                                <input type="text" id="address-stu" class="input-stu"
                                                    placeholder="Enter your address" required>
                                            </div>
                                            <div class="input-box">
                                                <i class="fas fa-lock"></i>
                                                <input type="password" id="password-stu" class="input-stu"
                                                    placeholder="Enter your password" required>
                                            </div>
                                            <div class="input-box">
                                                <i class="fas fa-qrcode"></i>
                                                <input type="text" id="referral-code-stu" class="input-stu"
                                                    placeholder="Enter your referral code" required>
                                            </div>
                                            <div class="button input-box" id="sb-student">
                                                <input type="submit" value="Submit">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="instructor-su" class="tab-pane fade">
                                    <div class="tab-ctn">
                                        <div class="input-boxes">
                                            <div class="input-box">
                                                <i class="fas fa-id-badge"></i>
                                                <input type="text" id="first-name-instr" class="input-instr"
                                                    placeholder="Enter your first name" required>
                                            </div>
                                            <div class="input-box">
                                                <i class="fas fa-id-badge"></i>
                                                <input type="text" id="last-name-instr" class="input-instr"
                                                    placeholder="Enter your last name" required>
                                            </div>
                                            <div class="input-box">
                                                <i class="fas fa-envelope"></i>
                                                <input type="email" id="email-instr" class="input-instr"
                                                    placeholder="Enter your email" required>
                                            </div>
                                            <div class="input-box">
                                                <i class="fas fa-phone-alt"></i>
                                                <input type="text" id="phone-number-instr" class="input-instr"
                                                    placeholder="Enter your phone number" required>
                                            </div>
                                            <div class="input-box">
                                                <i class="fas fa-map-marker-alt"></i>
                                                <input type="text" id="address-instr" class="input-instr"
                                                    placeholder="Enter your address" required>
                                            </div>

                                            <div class="input-box">
                                                <i class="fas fa-lock"></i>
                                                <input type="password" id="password-instr" class="input-instr"
                                                    placeholder="Enter your password" required>
                                            </div>
                                            <div class="button input-box" id="sb-instructor">
                                                <input type="submit" value="Submit">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="sale-su" class="tab-pane fade">
                                    <div class="tab-ctn">
                                        <div class="input-boxes">
                                            <div class="input-box">
                                                <i class="fas fa-id-badge"></i>
                                                <input type="text" id="first-name-sale" class="input-sale"
                                                    placeholder="Enter your first name" required>
                                            </div>
                                            <div class="input-box">
                                                <i class="fas fa-id-badge"></i>
                                                <input type="text" id="last-name-sale" class="input-sale"
                                                    placeholder="Enter your last name" required>
                                            </div>
                                            <div class="input-box">
                                                <i class="fas fa-envelope"></i>
                                                <input type="email" id="email-sale" class="input-sale"
                                                    placeholder="Enter your email" required>
                                            </div>
                                            <div class="input-box">
                                                <i class="fas fa-phone-alt"></i>
                                                <input type="text" id="phone-number-sale" class="input-sale"
                                                    placeholder="Enter your phone number" required>
                                            </div>
                                            <div class="input-box">
                                                <i class="fas fa-map-marker-alt"></i>
                                                <input type="text" id="address-sale" class="input-sale"
                                                    placeholder="Enter your address" required>
                                            </div>

                                            <div class="input-box">
                                                <i class="fas fa-lock"></i>
                                                <input type="password" id="password-sale" class="input-sale"
                                                    placeholder="Enter your password" required>
                                            </div>
                                            <div class="button input-box" id="sb-sale">
                                                <input type="submit" value="Submit">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div id="business-su" class="tab-pane fade">
                                    <div class="tab-ctn">
                                        <div class="input-boxes">
                                            <div class="input-box">
                                                <i class="fas fa-id-badge"></i>
                                                <input type="text" id="name-business" class="input-business"
                                                    placeholder="Enter name of business" required>
                                            </div>
                                            <div class="input-box">
                                                <i class="fas fa-id-badge"></i>
                                                <input type="text" id="full-name-representative" class="input-business"
                                                    placeholder="Enter full name of the representative" required>
                                            </div>
                                            <div class="input-box">
                                                <i class="fas fa-envelope"></i>
                                                <input type="email" id="email-business" class="input-business"
                                                    placeholder="Enter business email" required>
                                            </div>
                                            <div class="input-box">
                                                <i class="fas fa-phone-alt"></i>
                                                <input type="text" id="phone-number-business" class="input-business"
                                                    placeholder="Enter business phone number" required>
                                            </div>
                                            <div class="input-box">
                                                <i class="fas fa-map-marker-alt"></i>
                                                <input type="text" id="address-business" class="input-business"
                                                    placeholder="Enter business address" required>
                                            </div>

                                            <div class="input-box">
                                                <i class="fas fa-lock"></i>
                                                <input type="password" id="password-business" class="input-business"
                                                    placeholder="Enter business password" required>
                                            </div>
                                            <div class="button input-box" id="sb-business">
                                                <input type="submit" value="Submit">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="text sign-up-text">Already have an account? <label for="flip">Login now</label></div>
                </div>
            </div>
        </div>
    </div>
    <script src="/assets/js/vendor/jquery-1.12.4.min.js"></script>
    <script src="/assets/js/sweetalert.min.js"></script>
    <script>
        $('#login_btn').click(function () {
            var jsonData = {
                email: $("#ip-email").val(),
                password: $("#ip-password").val(),
            };

            $.ajax({
                url: '/login',
                method: 'POST',
                contentType: "application/json",
                data: JSON.stringify(jsonData),

                success: function (response) {
                    if (response === "Login success") {
                        window.location.href = "/home";
                    }
                    else {
                        swal({
                            title: 'Error !',
                            text: response,
                            icon: 'warning',
                            button: {
                                text: "Close",
                                value: true,
                                visible: true,
                                className: "btn btn-danger"
                            }
                        })
                    }

                },
                error: function () {
                    console.log('Error occurred while retrieving options');
                }
            });
        });
        $('#sb-student').click(function () {

            var jsonData = {
                first_name: $("#first-name-stu").val(),
                last_name: $("#last-name-stu").val(),
                email: $("#email-stu").val(),
                phone_number: $("#phone-number-stu").val(),
                address: $("#address-stu").val(),
                password: $("#password-stu").val(),
                referral_code: $("#referral-code-stu").val(),

            };

            $.ajax({
                url: '/signup/stu',
                method: 'POST',
                contentType: "application/json",
                data: JSON.stringify(jsonData),

                success: function (response) {
                    if (response === "Success") {
                        swal({
                            title: 'Successfully !',
                            text: 'Create account successfully',
                            icon: 'success',
                            button: {
                                text: "Close",
                                value: true,
                                visible: true,
                                className: "btn btn-primary"
                            }
                        })
                        $('.input-stu').val("");
                    } else {
                        swal({
                            title: 'Error !',
                            text: response,
                            icon: 'warning',
                            button: {
                                text: "Close",
                                value: true,
                                visible: true,
                                className: "btn btn-danger"
                            }
                        })
                    }

                },
                error: function () {
                    console.log('Error occurred while retrieving options');
                }
            });
        });

        $('#sb-instructor').click(function () {

            var jsonData = {
                first_name: $("#first-name-instr").val(),
                last_name: $("#last-name-instr").val(),
                email: $("#email-instr").val(),
                phone_number: $("#phone-number-instr").val(),
                address: $("#address-instr").val(),
                password: $("#password-instr").val(),
                referral_code: $("#referral-code-instr").val(),

            };

            $.ajax({
                url: '/signup/instr',
                method: 'POST',
                contentType: "application/json",
                data: JSON.stringify(jsonData),

                success: function (response) {
                    if (response === "Success") {
                        swal({
                            title: 'Successfully !',
                            text: 'Create account successfully',
                            icon: 'success',
                            button: {
                                text: "Close",
                                value: true,
                                visible: true,
                                className: "btn btn-primary"
                            }
                        })
                        $('.input-instr').val("");
                    } else {
                        swal({
                            title: 'Error !',
                            text: response,
                            icon: 'warning',
                            button: {
                                text: "Close",
                                value: true,
                                visible: true,
                                className: "btn btn-danger"
                            }
                        })
                    }

                },
                error: function () {
                    console.log('Error occurred while retrieving options');
                }
            });
        });

        $('#sb-sale').click(function () {

            var jsonData = {
                first_name: $("#first-name-sale").val(),
                last_name: $("#last-name-sale").val(),
                email: $("#email-sale").val(),
                phone_number: $("#phone-number-sale").val(),
                address: $("#address-sale").val(),
                password: $("#password-sale").val(),

            };

            $.ajax({
                url: '/signup/sale',
                method: 'POST',
                contentType: "application/json",
                data: JSON.stringify(jsonData),

                success: function (response) {
                    if (response === "Success") {
                        swal({
                            title: 'Successfully !',
                            text: 'Create account successfully',
                            icon: 'success',
                            button: {
                                text: "Close",
                                value: true,
                                visible: true,
                                className: "btn btn-primary"
                            }
                        })
                        $('.input-sale').val("");
                    } else {
                        swal({
                            title: 'Error !',
                            text: response,
                            icon: 'warning',
                            button: {
                                text: "Close",
                                value: true,
                                visible: true,
                                className: "btn btn-danger"
                            }
                        })
                    }

                },
                error: function () {
                    console.log('Error occurred while retrieving options');
                }
            });
        });

        $('#sb-business').click(function () {

            var jsonData = {
                name_business: $("#name-business").val(),
                full_name_representative: $("#full-name-representative").val(),
                email: $("#email-business").val(),
                phone_number: $("#phone-number-business").val(),
                address: $("#address-business").val(),
                password: $("#password-business").val(),

            };

            $.ajax({
                url: '/signup/business',
                method: 'POST',
                contentType: "application/json",
                data: JSON.stringify(jsonData),

                success: function (response) {
                    if (response === "Success") {
                        swal({
                            title: 'Successfully !',
                            text: 'Create account successfully',
                            icon: 'success',
                            button: {
                                text: "Close",
                                value: true,
                                visible: true,
                                className: "btn btn-primary"
                            }
                        })
                        $('.input-business').val("");
                    } else {
                        swal({
                            title: 'Error !',
                            text: response,
                            icon: 'warning',
                            button: {
                                text: "Close",
                                value: true,
                                visible: true,
                                className: "btn btn-danger"
                            }
                        })
                    }

                },
                error: function () {
                    console.log('Error occurred while retrieving options');
                }
            });
        });
        $(document).ready(function () {
            $("#forgotPassword").click(function () {

                var email = $("#ip-email").val();


                $.ajax({
                    type: "POST",
                    url: "/forgot-password",
                    data: { email: email },
                    success: function (response) {
                        swal({
                            text: response,
                            icon: 'success',
                            button: {
                                text: "Close",
                                value: true,
                                visible: true,
                                className: "btn btn-primary"
                            }
                        })
                    },
                    error: function (error) {

                        alert("Error: " + JSON.stringify(error));
                    }
                });
            });
        });
    </script>

    <script src="/assets/js/bootstrap.min.js"></script>
</body>

</html>