<div class="contact-area">
    <div class="container">
        <div class="row">
            {{ range $row := .StudyProgram }}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="contact-list mg-bottom-30" style="height: 700px;">
                    <div class="contact-win">
                        <div class="contact-img" style="width: 100%;">
                            <img src="/assets/images/study_programs/{{$row.Image}}" alt="" style="width: 100%;height: 500px;">
                        </div>
                    </div>
                    <div class="contact-ctn">
                        <div class="contact-ad-hd">
                            <h5>Program Name: {{$row.Title}}</h5>
                            <p>Number students: {{$row.NumberStudent}}/{{$row.MaxNumber}}</p>
                        </div>
                        <div class="social-st-list row">
                            <div class="col-lg-6 col-sm-12"></div>
                            {{if IsInstructor $.TypeUserID}}
                            <div class="col-lg-6 col-sm-12 t-right">
                                <a class="btn btn-success btn-join" data-study-program-id="{{$row.StudyProgramID}}" href="/study-programs/{{$row.StudyProgramID}}">Join Program</a>
                            </div>
                            {{else}}

                            {{if IsCheckStudyProgram $row.StudyProgramID $.StudyProgramUser}}
                            <div class="col-lg-6 col-sm-12 t-right">
                                <a class="btn btn-success btn-join" data-study-program-id="{{$row.StudyProgramID}}" href="/study-programs/{{$row.StudyProgramID}}">Join Program</a>
                            </div>
                            {{else}}
                            {{if CheckPermission "add_study_program" $.Ctx}}
                            <div class="col-lg-6 col-sm-12 t-right">
                                <a class="btn btn-primary btn-add" data-study-program-id="{{$row.StudyProgramID}}"><span><i class="fas fa-plus"></i></span> Add Program</a>
                            </div>
                            {{end}}
                            {{end}}
                            {{end}}
                        </div>
                    </div>

                </div>
            </div>
            {{end}}
        </div>
    </div>
</div>
{{if IsStudent .TypeUserID}}
<script>
    $(document).ready(function () {

        $('.btn-add').click(function() {
            var btnAdd = $(this);
            if (btnAdd.text() !== "Join Program"){
                var user_id = 0;
                var study_program_id= parseInt($(this).data('study-program-id'), 10);

                var jsonData = {
                    user_id: user_id,
                    study_program_id: study_program_id,
                };

                $.ajax({
                    url: '/home/create',
                    method: 'POST',
                    contentType: "application/json",
                    data: JSON.stringify(jsonData),

                    success: function (response) {
                        if(response === "Success"){
                            swal({
                                title: 'Successfully !',
                                text: 'Add study program successfully',
                                icon: 'success',
                                button: {
                                    text: "Close",
                                    value: true,
                                    visible: true,
                                    className: "btn btn-primary"
                                }
                            })

                            btnAdd.text("Join Program");
                            btnAdd.addClass("btn-join");
                            btnAdd.removeClass("btn-add");
                            btnAdd.removeClass("btn-primary");
                            btnAdd.addClass("btn-success")
                            btnAdd.attr('href', '/study-programs/'+btnAdd.data('study-program-id'));
                        }else{
                            swal({
                                title: 'Error !',
                                text: response,
                                icon: 'warning',
                                button: {
                                    text: "Close",
                                    value: true,
                                    visible: true,
                                    className: "btn btn-danger"
                                }
                            })
                        }

                    },
                    error: function () {
                        console.log('Error occurred while retrieving options');
                    }
                });
            }
        });
    });
</script>
{{end}}