<div class="contact-area">
    <div class="container">
        {{if IsStudent .TypeUserID}}
        <div class="row">
            {{ range $row := .ClassUsers }}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="contact-list mg-bottom-30">
                    <div class="contact-win">
                        <div class="contact-img">
                            <img src="/assets/images/study_programs/{{$row.Class.StudyProgram.Image}}" alt="" style="width: 500px;height: 500px;">
                        </div>
                    </div>
                    <div class="contact-ctn">
                        <div class="contact-ad-hd">
                            <h5>Study Program Name: {{$row.Class.StudyProgram.Title}}</h5>
                        </div>
                    </div>
                    <div class="contact-ctn">
                        <div class="contact-ad-hd">
                            <h5>Class Name: {{$row.Class.Name}}</h5>
                        </div>
                        <p>{{$row.Class.Description}}</p>
                    </div>
                    <div class="social-st-list row">
                        <div class=" col-lg-8 col-sm-12 social-sn">
                            <h2>Instructor:</h2>
                            <p>{{$row.Class.User.FirstName}} {{$row.Class.User.LastName}}</p>
                        </div>
                        <div class="col-lg-4 col-sm-12 t-right">
                            <a class="btn btn-primary btn-join" data-class-id="{{$row.ClassID}}" href="/classes/{{$row.ClassID}}">Join Class</a>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
        {{else}}
        <div class="row">
        <div class="col-lg-2 col-sm-12 t-left">
            <button class="btn btn-green btn-reco-mg btn-button-mg waves-effect">
                <a href="/classes/create/{{.UserID}}" class="btn-green">
                                          <span><i class="fas fa-plus"></i>
                                        </span> Add Classes
                </a>

            </button>
        </div>
        </div>
        <br>
        <div class="row">
            {{ range $row := .Classes }}
            <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12">
                <div class="contact-list mg-bottom-30">
                    <div class="contact-win">
                        <div class="contact-img">
                            <img src="/assets/images/study_programs/{{$row.StudyProgram.Image}}" alt="" style="width: 480px;height: 500px;">
                        </div>
                    </div>
                    <div class="contact-ctn">
                        <div class="contact-ad-hd">
                            <h5>Study Program Name: {{$row.StudyProgram.Title}}</h5>
                        </div>
                    </div>
                    <div class="contact-ctn">
                        <div class="contact-ad-hd">
                            <h5>Class Name: {{$row.Name}}</h5>
                        </div>
                        <p>{{$row.Description}}</p>
                    </div>
                    <div class="social-st-list row">
                        <div class=" col-lg-6 col-sm-12 social-sn">
                            <h2>Instructor:</h2>
                            <p>{{$row.User.FirstName}} {{$row.User.LastName}}</p>
                        </div>
                        <div class="col-lg-2 col-sm-12 t-right">
                            <a class="btn btn-success" href="/classes/edit/{{$row.ClassID}}"><span><i class="fas fa-edit"></i></span></a>
                        </div>
                        <div class="col-lg-2 col-sm-12 t-right">
                            <a class="btn btn-danger btn-delete" data-delete="{{$row.ClassID}}"><span><i class="fas fa-trash"></i></span></a>
                        </div>
                        <div class="col-lg-4 col-sm-12 t-right">
                            <a class="btn btn-primary" data-class-id="{{$row.ClassID}}" href="/classes/{{$row.ClassID}}">Join Class</a>
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
        {{end}}
    </div>
</div>
{{if IsInstructor .TypeUserID}}
<script>
    $(document).ready(function () {
        $('.btn-delete').on('click', function() {
            var ClassID = $(this).data('delete');
            swal({
                title: 'Confirm Delete ?',
                icon: 'warning',
                buttons: {
                    cancel: {
                        text: "Cancel",
                        value: null,
                        visible: true,
                        className: "btn btn-danger",
                        closeModal: true,
                    },
                    confirm: {
                        text: "OK",
                        value: true,
                        visible: true,
                        className: "btn btn-primary",
                        closeModal: true
                    }
                }
            }).then((result=>{
                if(result){
                    $.ajax({
                        url: '/classes/' + ClassID,
                        type: 'DELETE',
                        success: function (response) {
                            if(response === "Success"){
                                swal({
                                    title: 'Successfully !',
                                    icon: 'success',
                                    button: {
                                        text: "Close",
                                        value: true,
                                        visible: true,
                                        className: "btn btn-primary"
                                    }
                                })
                                window.location.href = "/classes";
                            }else {
                                swal({
                                    title: 'Error !',
                                    text: response,
                                    icon: 'warning',
                                    button: {
                                        text: "Close",
                                        value: true,
                                        visible: true,
                                        className: "btn btn-danger"
                                    }
                                })
                            }

                        },
                        error: function (xhr, status, error) {
                            console.error("Error deleting row:", status, error);
                        }
                    });
                }

            }))

        });
    });
</script>
{{end}}