<div class="form-element-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="form-element-list">
                    <div class="basic-tb-hd">
                        <h2>Set Price Program for Sale Business</h2>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                            <div class="form-example-wrap">
                                <div class="form-example-int form-horizental">
                                    <div class="form-group">
                                        <div class="row">
                                            <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                                <label class="hrzn-fm">Price Program</label>
                                            </div>
                                            <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                                <div class="nk-int-st">
                                                    <div class="bootstrap-select">
                                                        <select class="selectpicker" id="ip-price" data-user-id="{{.UserID}}" data-price-user-id="{{.PriceUser.PriceUserID}}">
                                                            {{ range $row := .Prices }}
                                                            <option value="{{$row.PriceProgramID}}" {{if IsSelected
                                                                    $row.PriceProgramID $.PriceUser.PriceProgramID}}selected{{end}}>Price: {{$row.Price}} - Commission: {{$row.Commission}}</option>
                                                            {{end}}
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <div class="form-example-int mg-t-15">
                                    <div class="row">
                                        <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12">
                                        </div>
                                        <div class="col-lg-8 col-md-7 col-sm-7 col-xs-12">
                                            <button class="btn btn-success notika-btn-success waves-effect" id="btn-submit">Submit</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {

        $('#btn-submit').click(function() {
            var price_program_id = parseInt($("#ip-price").val(), 10);
            var user_id = $("#ip-price").data('user-id');
            var price_user_id = $("#ip-price").data('price-user-id');
            var jsonData = {
                price_program_id: price_program_id,
                user_id:user_id,
                price_user_id:price_user_id,
            };

            $.ajax({
                url: '/managements/mng-payments/pro-sales',
                method: 'POST',
                contentType: "application/json",
                data: JSON.stringify(jsonData),

                success: function (response) {
                    if(response === "Success"){
                        swal({
                            title: 'Successfully !',
                            text: 'Set price program successfully',
                            icon: 'success',
                            button: {
                                text: "Close",
                                value: true,
                                visible: true,
                                className: "btn btn-primary"
                            }
                        })
                    }else{
                        swal({
                            title: 'Error !',
                            text: response,
                            icon: 'warning',
                            button: {
                                text: "Close",
                                value: true,
                                visible: true,
                                className: "btn btn-danger"
                            }
                        })
                    }

                },
                error: function () {
                    console.log('Error occurred while retrieving options');
                }
            });
        });
    });
</script>