
    <div class="tab-pane">
        <div class="row">
            <div class="col-sm-4 ml-auto mr-auto">
                <div class="form-group">
                    <label>Tỉnh/Thành phố</label>
                    <div class="select2-input">
                        <select id="province" class="form-control select2" style="width: 100%">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ml-auto mr-auto">
                <div class="form-group">
                    <label>Quận/Huyện</label>
                    <div class="select2-input">
                        <select id="district" class="form-control select2" style="width: 100%">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-4 ml-auto mr-auto">
                <div class="form-group">
                    <label>Xã/Phường/Thị trấn</label>
                    <div class="select2-input">
                        <select id="ward" class="form-control select2" style="width: 100%">
                        </select>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 ml-auto mr-auto">
                <div class="form-group">
                    <label>Thời gian</label>
                    <input type="text" class="form-control" id="datepicker" name="datepicker" placeholder="Thời gian diễn ra đám cưới">
                </div>
            </div>
            <div class="col-sm-6 ml-auto mr-auto">
                <div class="form-group">
                    <label>Giá tiền</label>
                    <input type="text" class="form-control" id="price" placeholder="Đơn vị tính là Việt Nam đồng">
                </div>
            </div>
            <div class="col-sm-6 ml-auto mr-auto">
                <div class="form-group">
                    <label>Địa chỉ chi tiết </label>
                    <textarea id="address" rows="2" class="form-control" placeholder="Ví dụ: số nhà, thôn, xóm,..." 14px></textarea>
                </div>
            </div>
            <div class="col-sm-6 ml-auto mr-auto">
                <div class="form-group">
                    <label>Mô tả thêm</label>
                    <textarea id="describe" rows="2" class="form-control" placeholder="Mô tả thêm nếu có, không bắt buộc" 14px></textarea>
                </div>
            </div>
        </div>
    </div>
